---
import TestimonialSliderPaqari from "@layouts/function-components/TestimonialSliderPaqari";
const { galery } = Astro.props;
---

<section data-animate="fade-up" class="reviews">
  <div class="mb-20 ">
    <div class=" my-10">
      <div class="col-12">
        <TestimonialSliderPaqari list={galery.galery_list} client:load />
      </div>
    </div>
  </div>
</section>
