---
import Galeria from "./Galeria.astro";

const { data_by_id } = Astro.props;

---
<div class="border-2 border-red-600 flex flex-col lg:flex-row gap-16 items-center">
    <div class="border-2 border-red-600 p-10">
      <Galeria id_product={data_by_id.id_product}/>
    </div>
    <!-- Product Details -->
    <div class="flex flex-col gap-4 lg:w-2/4">
      <div>
        <span class="text-violet-600 font-semibold">Special Sneaker</span>
        <h1 class="text-3xl font-bold">{ data_by_id.title }</h1>
      </div>
      <p class="text-gray-700">
        { data_by_id.description }
        { data_by_id.id_product }
      </p>
      <h6 class="text-2xl font-semibold">$ 199.00</h6>
      <div class="flex items-center gap-12">
        <div class="flex items-center">
          <button class="bg-gray-200 py-2 px-5 rounded-lg text-violet-800 text-3xl">-</button>
          <span class="py-4 px-6 rounded-lg">1</span>
          <button class="bg-gray-200 py-2 px-4 rounded-lg text-violet-800 text-3xl">+</button>
        </div>
        <button class="bg-violet-800 text-white font-semibold py-3 px-16 rounded-xl">Add to Cart</button>
      </div>
    </div>
  </div>
  
